<div class="centered-content">
  <div class="modal-box">
      <h1 class="title">
          Create a new account
      </h1>
      <div class="field">
          <div class="control">
            <input [(ngModel)]="username" class="input has-background-light is-medium" type="text" placeholder="Enter username">
          </div>
      </div>
      <div class="field">
          <div class="control">
            <input [(ngModel)]="password" class="input has-background-light is-medium" type="password" placeholder="Enter password">
          </div>
      </div>
      <div class="field" style="display:none;">
          <div class="control">
            <input [(ngModel)]="honeypot" type="text" name="honeypot">
          </div>
      </div>
      <div class="field is-grouped">
          <div class="control">
            <button class="button is-link has-background-black" (click)="onSubmit()">Register</button>
          </div>
          <div class="control">
            <button class="button is-link is-light" routerLink="/">Cancel</button>
          </div>
      </div>
      <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</div>